:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark-Grey: hsl(0, 0%, 12%);
  --Off-Black: hsl(0, 0%, 8%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--Off-Black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Inter", sans-serif;
}
.container {
  background-color: var(--Dark-Grey);
  /* border: 1px solid red; */
  text-align: center;
  border-radius: 10px;
  /* padding: 20px 0px; */
  width: 380px;
  height: 600px;
}
.profile_image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 1.5rem;
}

.name {
  color: var(--White);
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
.location {
  color: var(--Green);
  margin-top: 1.5rem;
}
.description {
  color: var(--White);
  font-size: 1rem;
  margin-top: 1.5rem;
}
.social_links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 2rem;
  width: 380px;
  height: 294px;
}
.social_links > a {
  background-color: var(--Grey);
  color: var(--White);
  text-decoration: none;
  margin: 0px 40px;
  padding: 15px 0px;
  border-radius: 10px;
}
.social_links > a:hover {
  background-color: var(--Green);
  color: var(--White);
}

@media (max-width: 768px) {
  .container {
    width: 90%; /* Ekranın genişliğine bağlı olarak dinamik genişlik */
    height: auto; /* İçeriğe göre yükseklik ayarı */
    padding: 20px; /* İç padding */
  }
  .profile_image img {
    width: 60px;
    height: 60px;
  }
  .name {
    font-size: 1.2rem;
  }
  .description {
    font-size: 0.9rem;
  }
  .social_links {
    width: 100%; /* Konteyner genişliğine göre ayarlama */
    height: auto; /* Buton sayısına göre yükseklik */
    gap: 10px; /* Butonlar arası boşluk */
  }
  .social_links > a {
    margin: 0 10px; /* Kenar boşluklarını azalt */
    padding: 10px; /* İç boşluk */
    width: calc(100% - 20px); /* Kenar boşluklarını hesaba kat */
    box-sizing: border-box; /* Padding ve border genişliği toplam genişliğe dahil et */
  }
}
